@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #99d3ff;
    background-image: /* Genera una imagen o varias en este caso, todas iguales */
        radial-gradient(at 74% 7%, hsla(292, 99%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 95% 36%, hsla(0, 82%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 87% 82%, hsla(345, 94%, 66%, 1) 0px, transparent 50%),
        radial-gradient(at 93% 26%, hsla(359, 84%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 81% 45%, hsla(187, 78%, 65%, 1) 0px, transparent 50%),
        radial-gradient(at 25% 72%, hsla(221, 70%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 95% 88%, hsla(272, 70%, 66%, 1) 0px, transparent 50%);
    height: 100vh; /* Toma una de las imágenes y le da una altura total ocupando toda la pantalla */ 
    display: flex;  /* Hace 'flexible' los elementos dentor del contenedor */
    align-items: center; /* Alinea a los elementos al centro del espacio disponible pero de manera vertical */
    justify-content: center; /* Alinea a los elementos al centro del espacio disponible pero de manera horizontal */
    flex-direction: column; /* Posiciona la dirección de los elementos en forma de columna */
    overflow: hidden;
}

.glass-preview {
    margin: 20px auto;
    position: relative;
    z-index: 1;
    font-family: 'Lobster';
}

.glass-preview::before {
    content: "GlassEffect";
    color: #fff;
    font-size: 130px;
    position: absolute;
    z-index: -999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glass-preview-rectangle {
    background-color: rgba(0, 0, 0, 0.31);
    width: 360px;
    height: 100px;
    padding: 0 20px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    outline: 0px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: rotate(-2deg);
}

.container {
    width: 380px;
    background-color: rgba(0, 0, 0, 0.31);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    outline: 0px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px 10px 20px;
}

.content {
    color: #fff;
}

.content h1 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
}

.input-container {
    margin: 10px 0;
}

input[type="range"] {
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    appearance: none;
    outline: none;
    margin-bottom: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

input[type="color"] {
    width: 100%;
    border: none;
    outline: none;
    appearance: none;
    background-color: transparent;
}

#css-code {
    background-color: rgba(255, 255, 255, 0.15);
    width: 360px;
    height: 110px;
    padding: 10px;
    resize: none;
    font-family: monospace;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    cursor: not-allowed;
    outline: none;
}

#copy-button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

#copy-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.6);
}

/* body {
    background-color: hsla(0, 100%, 50%, 1);
    background-image:
        radial-gradient(at 40% 20%, hsla(28, 100%, 74%, 1) 0px transparent)
        radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px transparent)
        radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px transparent)
        radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px transparent)
        radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px transparent)
        radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px transparent)
        radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px transparent);


    display: flex; --> Permite mover los elementos de manera 'flexible' por el espacio del contenedor correspondiente

    align-items: center; --> Alinea los elementos de manera vertical al centro del espacio disponible en el contenedor

    justify-content: center; --> Alinea los elementos de manera horizontal al centro del espacio disponible en el contenedor
    min-height: 100vh;
}

.container {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    outline: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */